<!DOCTYPE html>
<html>
  <head>
    <title>EnterpriseAPE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
<body>
<div class="container">
  <ul class="nav nav-tabs link-hover justify-content-center">  
    <li class = "nav-link active"><%= link_to "Home", root_path %>                   </li>
    <li class = "nav-link"><%= link_to "About Us", welcome_about_path %>      </li>
    <li class = "nav-link"><%= link_to "Contact", welcome_contact_path %>     </li>
    <li class = "nav-link"><%= link_to "Features", welcome_features_path %>   </li>
    <li class = "nav-link"><%= link_to "FAQs", welcome_faq_path %>            </li>
    <li class = "nav-link"><%= link_to "Pricing", welcome_pricing_path %>     </li>
    <li class = "nav-link"><%= link_to "Invoices", invoices_path %>           </li>

    <% if current_user %>
      <li class = "nav-link"><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %> </li>
    <% else %>
      <li class = "nav-link"><%= link_to "Sign Up", new_user_registration_path %>
      <li class = "nav-link"><%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </ul> 
</div>  
  
  <div class="container">
  <br/>
   <% if flash[:notice] %>
     <div class="alert alert-success" role="alert">
       <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
       <%= flash[:notice] %>
     </div>

  <% elsif flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>

  <% elsif flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>

  <% end %>

  <br/>

  <%= yield %>

  </div>
  
</body>
</html>
